{% if loggedIn %}
<h2>Oma profiili</h2>
{% else %}
<h2>Käyttäjä: {{ username }}</h2>
{% endif %}
<p>
<a href="/">Etusivu</a>
<br>
<br>
{% if loggedIn %}    
<h3>Omat kurssit:</h3>
{% else %}
    Käyttäjän kurssit:
    <br>
{% endif %}
{% if isTeacher %}
    {% for teachingCourse in teachingCourses %}
        <a href="/course/{{ teachingCourse[0] }}">{{ teachingCourse[1] }} - {{ teachingCourse[2] }}</a>
        <br> 
    {% endfor %}
{% else %}                       
    {% for joinedCourse in joinedCourses %}
        <a href="/course/{{ joinedCourse[0] }}">{{ joinedCourse[1] }} - {{ joinedCourse[2] }}</a>
        <br>
    {% endfor %}
{% endif %}
<br>
<br>  
{% if isAdmin %}
    <a href="/editprivileges/{{ id }}">Anna käyttöoikeuksia</a>
{% endif %}
<p>
{% if session.user_id %}    
<a href="/logout">Kirjaudu ulos</a>
{% endif %}
<p>
<a href="/delete/{{ id }}">Poista profiili</a>   